<div class="container">
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2">
      <label>Nom Professeur en tapant</label>
      <input
        #nom
        [(ngModel)]="searchTerm"
        name="searchTerm"
        class="form-control"
      />
    </div>
  </form>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Salaire</th>
          <th>Date Création</th>
          <th>Matiere</th>
        </tr>
        @for (
          professeur of professeurs | searchFilter: searchTerm;
          track professeur.idProfesseur
        ) {
          <tbody>
            <tr>
              <td>{{ professeur.idProfesseur }}</td>
              <td>{{ professeur.nomProfesseur }}</td>
              <td>{{ professeur.salaireProfesseur }}</td>
              <td>{{ professeur.dateCreation | date: "dd/MM/yyyy" }}</td>
              @if (professeur.matiere) {
                <td>{{ professeur.matiere.nomMatiere }}</td>
              } @else {
                <td>PAS DE MATIERE</td>
              }
              <!--
<td><a class="btn btn-danger" 
(click)="supprimerProduit(produit)">Supprimer</a></td> 
<td><a class="btn btn-success" 
[routerLink]="['/updateProduit',produit.idProduit]">Modifier</a></td> -->
            </tr>
          </tbody>
        }
      </table>
    </div>
  </div>
</div>
