<div class="container">
  <div>
    <h2>Ajouter un Professeur :</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Professeur</label>
      <input
        type="text"
        [(ngModel)]="newProfesseur.idProfesseur"
        name="idProfesseur"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Professeur</label>
      <input
        type="text"
        [(ngModel)]="newProfesseur.nomProfesseur"
        name="nomProfesseur"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Salaire Professeur</label>
      <input
        type="number"
        [(ngModel)]="newProfesseur.salaireProfesseur"
        name="salaireProfesseur"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input
        type="date"
        [(ngModel)]="newProfesseur.dateCreation"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Matieres</label>
      <select
        class="form-control form-control-lg"
        id="idMat"
        name="idMat"
        [(ngModel)]="newIdMat"
      >
        @for (mat of matieres; track mat.idMat) {
          <option [value]="mat.idMat">{{ mat.nomMatiere }}</option>
        }
      </select>
    </div>

    <div class="mt-2">
      <button type="submit" (click)="addProfesseur()" class="btn btn-success">
        Ajouter
      </button>
    </div>
  </form>
</div>
