<div class="container">
  <div>
    <h2>Modifier un Professeur :</h2>
  </div>
  <form>
    <div hidden readonly class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Professeur</label>
      <input
        type="text"
        [(ngModel)]="currentProfesseur.idProfesseur"
        name="idProfesseur"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Professeur</label>
      <input
        type="text"
        [(ngModel)]="currentProfesseur.nomProfesseur"
        name="nomProfesseur"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Salaire Professeur</label>
      <input
        type="number"
        [(ngModel)]="currentProfesseur.salaireProfesseur"
        name="salaireProfesseur"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input
        type="date"
        [ngModel]="currentProfesseur.dateCreation | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentProfesseur.dateCreation = $event"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Matieres</label>
      <select
        class="form-control form-control-lg"
        id="idMat"
        name="idMat"
        [(ngModel)]="updatedMatId"
      >
        @for (mat of matieres; track mat.idMat) {
          <option [value]="mat.idMat">{{ mat.nomMatiere }}</option>
        }
      </select>
    </div>
    <div class="col-sm-16 col-md-16 col-lg-16">
      <label class="mb-2">Image :</label>
      <input
        type="file"
        (change)="onImageUpload($event)"
        class="form-control"
      />
    </div>

    <div class="mt-2">
      <button
        type="submit"
        (click)="onAddImageProfesseur()"
        class="btn btn-success"
      >
        Ajouter Image
      </button>
    </div>

    <div class="col-sm-16 col-md-16 col-lg-16">
      <img
        [src]="myImage"
        class="card-img-top img-fluid rounded-start"
        style="width: 500px; height: 300px"
      />
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Images</th>
            </tr>
          </thead>
          @for (
            img of currentProfesseur.images;
            track currentProfesseur.idProfesseur
          ) {
            <tbody>
              <tr>
                <td>
                  <img
                    class="card-img-top img-responsive"
                    src="{{ 'data:' + img.type + ';base64,' + img.image }}"
                    style="height: 50px; width: 100px"
                  />
                </td>
                <td style="width: 20%">
                  <a class="btn btn-danger" (click)="supprimerImage(img)"
                    >Supprimer</a
                  >
                </td>
              </tr>
            </tbody>
          }
        </table>
      </div>
    </div>
    <div class="mt-2">
      <button
        type="submit"
        (click)="updateProfesseur()"
        class="btn btn-success"
      >
        Modifer
      </button>
    </div>
  </form>
</div>
