<div class="container">
  <div class="card shadow mb-4">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-update-matiere
        [matiere]="updatedMat"
        (matiereUpdated)="matiereUpdated($event)"
        [ajout]="ajout"
      >
        ></app-update-matiere
      >
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Matiere</th>  
          </tr>
        </thead>
        @for (mat of matieres; track mat.idMat) {
          <tbody>
            <tr>
              <td>{{ mat.idMat }}</td>
              <td>{{ mat.nomMatiere }}</td>
              <td>
                <a class="btn btn-success" (click)="updateMat(mat)">Editer</a>
              </td>
            </tr>
          </tbody>
        }
      </table>
    </div>
  </div>
</div>
